*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100%;
  overflow: hidden;
  /* background-color: rgb(43, 37, 35); */
  /* background-color:  #CADCFC; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.makecenter{
  position: absolute; /* Makes the element position relative to its closest positioned ancestor */
  top: 50%;           /* Move the top edge to the middle of the container */
  left: 50%;          /* Move the left edge to the middle of the container */
  transform: translate(-50%, -50%);
}

/* .box{
  background-color: rgb(212, 212, 212);
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
