*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100%;
  overflow:hidden;
  /* background-color: rgb(255, 255, 255); */
  /* background-color:  #CADCFC; */
}


.makecenter{
  position: absolute; /* Makes the element position relative to its closest positioned ancestor */
  top: 50%;           /* Move the top edge to the middle of the container */
  left: 50%;          /* Move the left edge to the middle of the container */
  transform: translate(-50%, -50%);
}

/* .box{
  background-color: rgb(212, 212, 212);
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.imp{
  color: rgb(245, 64, 64);
  font-size: 14px;
  position: relative;
}
